/* thedevbuild css */

/* bootstrap css */
@import url("bootstrap.css");

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  --off-orange: #ffead0;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
  border-radius: 0px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #DD4A14;
}


body {
  font-family: 'Poppins', sans-serif;
}

.header-font {
  font-family: 'Playfair Display', serif;
}

.custom-banner {
  min-height: 40vh;
}

.vb-line::before {
  content: " ";
  display: inline-block;
  width: 60px;
  height: 0.8px;
  margin-right: 15px;
  border-radius: 1px;
  vertical-align: middle;
  background: #6c757d;
}

.typed-cursor {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .typed-cursor {
    font-size: 3rem;
  }
}

.hover\:text-white:hover,
.focus\:text-white:focus {
  color: #fff !important;
}

.bg-offwhite {
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-offorange {
  background-color: var(--off-orange);
}

.navbar-brand img {
  height: 40px;
}

.v-line {
  height: 120px;
  width: 1px;
  border-radius: 1px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 247, 243, 0.5) 35%, rgba(221, 74, 10, 1) 100%);
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.rounded-o {
  border-radius: 10px !important;
}

.shadow-lg-o {
  box-shadow: 0 2.2rem 1rem -2rem rgba(221, 74, 20, 0.15) !important;
}

.shaped-social a img {
  height: 32px;
  width: 32px;
}

.img-flip {
  transform: scaleY(-1);
}

.img-flip-x {
  transform: scaleX(-1);
}

.img-flip-xy {
  transform: scaleX(-1) scaleY(-1);
}

.msg-sent {
  top: 0;
  left: 0;
  z-index: 1050;
  height: 0;
  width: 100%;
  background-color: var(--off-orange);
  transition: 0.7s ease;
}

.msg-sent .mail-svg img {
  height: calc(100vh / 5);
}

.msg-sent-container {
  display: none;
}

.dotted-bg {
  background-color: #FFFFFF;
  background-image: url("../images/dotted-bg.svg");
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: inherit;
}

.bg-hero-svg {
  position: absolute;
  top: 70;
  right: 0;
  z-index: 1;
  width: 60%;
  height: 50vh;
}

.w-md-70 {
  width: 95%;
}

@media (min-width: 576px) {
  .w-md-70 {
    width: 70% !important;
  }

  .wd-50-auto {
    width: 520px !important;
  }
}

@media (min-width: 769px) {
  .mobileNav .toggleNav {
    display: none;
    transition: 2s ease-out;
  }
}

@media (min-width: 992px) {
  .w-md-70 {
    width: 60% !important;
  }
}

@media (max-width: 768px) {
  .navbar-brand img {
    height: 30px;
  }

  .resp-img {
    height: 25vh;
  }

  .mobileNav {
    bottom: 0;
    left: 0;
    z-index: 1050;
    height: 0;
    width: 100%;
    background-color: var(--off-orange);
    transition: 0.7s ease;
  }

  .mobileNav .toggleNav {
    display: none;
    transition: 2s ease-out;
  }

  .mobileNav #navID {
    height: auto;
  }

  .mobileNav .navbar-nav a {
    height: calc(80vh / 8);
    font-size: 1.3rem !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold !important;
  }

  .bg-hero-svg {
    position: static;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 35vh;
  }
}

/* animation start */

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media print,
(prefers-reduced-motion: reduce) {
  .animate__animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }

  .animate__animated[class*='Out'] {
    opacity: 0;
  }
}

.transition {
  transition: all 1.0s ease 2.0s;
}

.transition-form {
  transition: 0.75s ease;
}

.transition-0-3 {
  transition: all 0.1s ease-in-out 0.2s;
}

@-webkit-keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.animate__slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--bs-orange);
  top: 50%;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--bs-orange);
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* animation ends */